div.container{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(4, 72, 134);
}
a{
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    
}
menu a.index, .menu a:hover {
    padding: 15px;
    margin: 0px;
    background: #3987fc;
}

body{
    background-image: url("../img/moon.jpg");
    background-image: no-repeat;
    background-image: center;
}

text.container2{
    text-align: center;
    background-color: #3987fc;
    color: #3987fc;
}

img{
    width: 30%;
}
*{
    box-sizing: border-box;
    background-image: no-repeat;
}
.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    background-image: no-repeat;
}
.column{
    flex: 25%;
    padding: 5px;
    background-image: no-repeat;
}
.column img{
    margin-top: 5px;
    background-image: no-repeat;
}

@media (max-width: 600px) {  
    .column{
        flex: 100%;
        padding: 5px;
    }
}
footer{
    
}